.wy-table-responsive {
    overflow: visible;
    font-size: 20px;
}

.wy-table-responsive table td {
    white-space: normal;
    font-size: 26px;
}

.wy-table-responsive table th {
    white-space: normal;
    font-style: italic;
    text-align: center;
}

.wy-nav-content {
    max-width: 1000px;
    width: 80%;
}


/*
.wy-nav-side {
    left: 0px;
    width: 280px;
    overflow-x: auto;
}
*/


.rst-content table.docutils caption {
    text-align: center;
    font-size: 100%;
}

/* for ordered list numerals */
.rst-content section ol.arabic li {
    list-style: decimal;
}

.rst-content section ol.arabic li li {
    list-style: upper-roman;
}

.rst-content section ol.arabic li li li {
    list-style: lower-alpha;
    
}

.red {
    color: red !important;
}