{%- set name = basename.split('.')[-1] %}
{%- if show_headings %}
{#-{{- [basename, "module"] | join(' ') | e | heading }}#}
{#-{{ name | e | heading }}#}
{{- [name, "module"] | join(' ') | e | heading }}
{% endif -%}

Full Documentation for ``{{qualname}}`` module.
:doc:`Click here for a summary page. </api_summary/{{qualname}}>`

.. automodule:: {{ qualname }}
{%- for option in automodule_options %}
   :{{ option }}:
{%- endfor %}

